@{
    this.ViewData["Title"] = "Home Page";
}

<div class="hero-area hero-style-one">
    <div class="hero-main-wrapper position-relative">
        <div class="swiper banner1">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="slider-bg-1">
                        <div class="container">
                            <div class="row d-flex justify-content-center align-items-center">
                                <div class="col-xl-10 col-lg-10">
                                    <div class="banner1-content">
                                        <span>Welcome To Auction Expert</span>
                                        <h1>Sell & collect items.</h1>
                                        <p>
                                            Our mission is to provide an exciting and seamless experience to our customers for buying and selling special, hard-to-find objects.
                                        </p>
                                        <a class="eg-btn btn--primary btn--lg">Start Exploring</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="slider-bg-2">
                        <div class="container">
                            <div class="row d-flex justify-content-center align-items-center">
                                <div class="col-xl-10 col-lg-10">
                                    <div class="banner1-content">
                                        <span>Welcome To Auction Expert</span>
                                        <h2>Purchase Any Product.</h2>
                                        <p>
                                            We are committed to the success of the customer experience.
                                            Discover new ways to sell online with AuctionExpert free listings,
                                            no hidden additional fees or add-ons,
                                            options to sell with a reserve price.
                                        </p>
                                        <a class="eg-btn btn--primary btn--lg">Start Exploring</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hero-one-pagination d-flex justify-content-center flex-column align-items-center gap-3"></div>
    </div>
</div>

<div class="live-auction pt-120 pb-120">
    <img alt="image" src="~/assets/images/bg/section-bg.png" class="img-fluid section-bg">
    <div class="container position-relative">
        <img alt="image" src="~/assets/images/bg/dotted1.png" class="dotted1">
        <img alt="image" src="~/assets/images/bg/dotted1.png" class="dotted2">
        <div class="row d-flex justify-content-center">
            <div class="col-sm-12 col-md-10 col-lg-8 col-xl-6">
                <div class="section-title1">
                    <h2>Hot Auctions</h2>
                    <p class="mb-0">
                        Explore on the world's best & largest Bidding marketplace with our beautiful Bidding
                        products. We want to be a part of your smile, success and future growth.
                    </p>
                </div>
            </div>
        </div>
        <div class="row gy-4 mb-60 d-flex justify-content-center">
            <partial name="_AuctionPartial" />
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function() {
            $('.like i').click(function() {
                let auctionId = $('.countdown').attr('data-auctionid');
                let userId = '@this.User.FindFirstValue(ClaimTypes.NameIdentifier)';
                let token = $('#antiForgeryForm input').val();

                var postData = {
                    auctionId,
                    userId
                };

                console.log(auctionId);

                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("LikeAuction", "Auction")',
                    data: postData,
                    headers: {
                        'X-CSRF-TOKEN': token
                    },
                    success: function(response){
                        if (response.result == true){
                            $('.like i').removeClass('bi-heart')
                            $('.like i').addClass('bi-heart-fill')
                        }
                    }
                });
            });
        });
    </script>
}