@model PaginatedCountryListModel

@{
    this.ViewData["Title"] = "Countries Administration";
}

<div class="container">
    <div class="row g-4">
        <div class="col g-3">
            <h2 class="text-center pt-80 pb-60">@this.ViewData["Title"]</h2>
            <div class="table-title-area" id="adminCountriesPerPage" style="justify-content: flex-end">
                <select>
                    <option value="10">Show: 10 per page</option>
                    <option value="20">Show: 20 per page</option>
                    <option value="30">Show: 30 per page</option>
                    <option value="50">Show: 50 per page</option>
                </select>
            </div>
            <div class="table-wrapper">
                <table id="countries-table" class="eg-table order-table table mb-0">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Cities Count</th>
                            <th>Delete</th>
                            <th>Edit</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <div class="table-pagination justify-content-center">
                <nav class="pagination-wrap">
                    <ul id="adminCountriesPagination" class="pagination style-one d-flex gap-md-3 gap-2">
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            loadCountries();
        });
    </script>
}