@{
    var consentFeature = this.Context.Features.Get<ITrackingConsentFeature>();
    var showBanner = !consentFeature?.CanTrack ?? false;
    var cookieString = consentFeature?.CreateConsentCookie();
}

@if (showBanner)
{
    <style type="text/css">
        .bg-custom {
            background-color: #130f40;
        }

        .button-fixed {
            bottom: 0;
            position: fixed;
            right: 0;
            border-radius: 4px;
        }

        .fas {
            cursor: pointer;
            font-size: 24px;
        }

        #cookieText {
            font-size: 14px;
        }

        #cookieContainer {
            position: relative;
            z-index: 10;
        }
    </style>
    <div class="row" id="cookieContainer">
        <div class="col-md-4 col-sm-12 button-fixed">
            <div class="p-3 pb-4 bg-custom text-white">
                <div class="row">
                    <div class="col-10">
                        <h2>Allow Cookies</h2>
                    </div>
                    <div class="col-2 text-center">
                        <i class="fas fa-times"></i>
                    </div>
                </div>
                <p id="cookieText">
                    This website uses cookies to ensure you get the best experience on our website.
                </p>
                <button type="button" class="btn btn-danger w-100" data-cookie-string="@cookieString">Accept Cookies</button>
            </div>
        </div>
    </div>

    <script>
        (function () {
            var button = document.querySelector("#cookieContainer button");
            button.addEventListener("click", function () {
                document.cookie = button.dataset.cookieString;
                document.querySelector('#cookieContainer').style.display = 'none';
            }, false);
        })();
    </script>
}
