@model PaginatedHomeAuctionViewModel

@{
    if (Model.Auctions.Count() == 0)
    {
        this.ViewData["Title"] = "Browse Auctions";
    }
    else
    {
        this.ViewData["Title"] = $"{Model.Auctions.First().CategoryName}";
    }
}

<div class="inner-banner">
    <div class="container">
        <h2 class="inner-banner-title wow fadeInLeft" data-wow-duration="1.5s" data-wow-delay=".2s">Live Auction</h2>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Live Auction</li>
            </ol>
        </nav>
    </div>
</div>

<div class="live-auction-section pt-120 pb-120">
    <img alt="image" src="~/assets/images/bg/section-bg.png" class="img-fluid section-bg-top">
    <img alt="image" src="~/assets/images/bg/section-bg.png" class="img-fluid section-bg-bottom">
    <div class="row d-flex justify-content-center">
        <div class="col-sm-12 col-md-10 col-lg-8 col-xl-6">
            <div class="section-title1">
                <h2>@(Model.Auctions.Count() == 0 ? "There are no auctions in this category yet!" : Model.Auctions.First().CategoryName)</h2>
                <p class="mb-0">
                    Explore on the world's best & largest Bidding marketplace with our beautiful Bidding
                    products. We want to be a part of your smile, success and future growth.
                </p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row gy-4 mb-60 d-flex justify-content-center">
            @await Html.PartialAsync("_AuctionPartial", Model.Auctions)
        </div>
        @if (Model.Auctions.Count() > 0)
        {
            @await Html.PartialAsync("_PagingPartial", Model)
        }
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            console.log('ready')
        })
    </script>
}