@using AuctionExpert.Services.Data
@using AuctionExpert.Web.ViewModels.Auction
@using AuctionExpert.Web.ViewModels.SubCategory
@model AddAuctionViewModel
@{
    this.ViewData["Title"] = "Sell Product";
}

<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-xl-6 col-lg-8 col-md-10">
            <div class="form-wrapper wow fadeInUp" data-wow-duration="0.5s" data-wow-delay=".2s">
                <form class="w-100" method="post" enctype="multipart/form-data">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="row">

                        <div class="col-md-12">
                            <div class="form-inner">
                                <label asp-for="Title">Title *</label>
                                <input asp-for="Title" class="form-control" placeholder="Title">
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-inner">
                                <label asp-for="Description">Description *</label>
                                <input asp-for="Description" class="form-control" placeholder="Description">
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-inner" onchange="getSubCategories()">
                                <label asp-for="CategoryId">Select Category *</label>
                                <select asp-for="CategoryId" class="form-control">
                                    <option selected="selected">--Please select a category--</option>
                                    @foreach (var category in Model.Categories)
                                    {
                                        <option value="@category.Id">@category.Name</option>
                                    }
                                </select>
                            </div>
                        </div>

                        <div class="col-md-12" style="display: none">
                            <div class="form-inner" onchange="getSubCategoryId()">
                                <label asp-for="SubCateogoryId">Select Sub Category *</label>
                                <select asp-for="SubCateogoryId" class="form-control">
                                    <option>--Please select a sub category--</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-inner">
                                <label asp-for="Condition">Condition *</label>
                                <select asp-for="Condition" class="form-control">
                                    <option>--Enter item condition--</option>
                                    <option value="1">Brand new</option>
                                    <option value="2">Used</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-inner">
                                <label asp-for="Type">Type of sale *</label>
                                <select asp-for="Type" class="form-control">
                                    <option>--Enter auction sale type--</option>
                                    <option value="1">Standart auction</option>
                                    <option value="2">Auction with fixed price</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-inner">
                                <label asp-for="StartPrice">Price *</label>
                                <input asp-for="StartPrice" class="form-control"/>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-inner">
                                <label asp-for="Duration">Duration *</label>
                                <input asp-for="Duration" class="form-control" placeholder="Enter duration in days " />
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-inner">
                                <label asp-for="Images">Upload images *</label>
                                <input asp-for="Images" class="form-control"/>
                            </div>
                        </div>

                    </div>
                    <button type="submit" asp-controller="Auction" asp-action="Sell" class="account-btn">Add Auction</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>

    function getSubCategories() {
        let selected = document.querySelectorAll("div .list")[0];
        let categoryId = Number.parseInt(selected.querySelector('.selected').getAttribute("data-value"));
        let ul = document.querySelectorAll("div .list")[1];

        if (!Number.isInteger(categoryId) || categoryId == 0) {
            ul.parentElement.parentElement.parentElement.style.display = 'none';
            return;
        }

        fetch(`/api/SubCategory/?id=${categoryId}`, {
            method: 'get'
        })
            .then(response => response.json())
            .then(subCategories => {

                ul.parentElement.parentElement.parentElement.style.display = 'block';

                for (let i = 0; i < subCategories.length; i++) {

                    let liElement = document.createElement("li");
                    liElement.classList.add("option");
                    liElement.setAttribute("data-value", subCategories[i].id)
                    liElement.textContent = subCategories[i].name
                    ul.appendChild(liElement)
                }
            })

        ul.innerHTML = '';
        document.querySelectorAll('.current')[1].textContent = '';
    }
</script>

<script>
    function getSubCategoryId() {
        let selected = document.querySelectorAll("div .list")[1];
        let subCategoryId = Number.parseInt(selected.querySelector('.selected').getAttribute("data-value"));

        let optionElement = selected.parentElement.parentElement.getElementsByTagName('option')[0];
        optionElement.setAttribute('value', subCategoryId);
        optionElement.classList.add('selected');
    }
</script>