@model AddAuctionViewModel
@{
    this.ViewData["Title"] = "Sell Product";
}

<div class="container-lg">
    <div class="row d-flex justify-content-center">
        <div class="col-xl-6 col-lg-8 col-md-10">
            <div class="form-wrapper wow fadeInUp" data-wow-duration="0.5s" data-wow-delay=".2s">
                <form class="w-100" method="post" enctype="multipart/form-data">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="row">

                        <div class="col-md-12">
                            <div class="form-inner">
                                <label asp-for="Title">Title *</label>
                                <input asp-for="Title" class="form-control" placeholder="Title">
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-inner">
                                <label asp-for="Description">Description *</label>
                                <textarea rows="5" asp-for="Description" class="form-control" placeholder="Description" style="resize:none;"></textarea>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-inner" onchange="getSubCategories()">
                                <label asp-for="CategoryId">Select Category *</label>
                                <select asp-for="CategoryId" class="form-control">
                                    <option selected="selected">--Please select a category--</option>
                                    @foreach (var category in Model.Categories)
                                    {
                                        <option value="@category.Id">@category.Name</option>
                                    }
                                </select>
                            </div>
                        </div>

                        <div class="col-md-12" style="display: none">
                            <div class="form-inner" onchange="getSubCategoryId()">
                                <label asp-for="SubCateogoryId">Select Sub Category *</label>
                                <select asp-for="SubCateogoryId" class="form-control">
                                    <option>--Please select a sub category--</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-inner">
                                <label asp-for="Condition">Condition *</label>
                                <select asp-for="Condition" class="form-control">
                                    <option>--Enter item condition--</option>
                                    <option value="1">Brand new</option>
                                    <option value="2">Used</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-inner">
                                <label asp-for="AuctionType">Type of sale *</label>
                                <select asp-for="AuctionType" class="form-control">
                                    <option>--Enter auction sale type--</option>
                                    <option value="1">Standart auction</option>
                                    <option value="2">Auction with fixed price</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-inner">
                                <label asp-for="StartPrice">Price *</label>
                                <input asp-for="StartPrice" class="form-control"/>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-inner">
                                <label asp-for="Duration">Duration *</label>
                                <input asp-for="Duration" class="form-control" placeholder="Enter duration in days " />
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-inner">
                                <label asp-for="StepAmount">Step *</label>
                                <input asp-for="StepAmount" class="form-control" placeholder="Enter step">
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-inner">
                                <label asp-for="Images">Upload images *</label>
                                <input asp-for="Images" class="form-control"/>
                            </div>
                        </div>

                    </div>
                    <button type="submit" asp-controller="Auction" asp-action="Sell" class="account-btn">Add Auction</button>
                </form>
            </div>
        </div>
    </div>
</div>