@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}
<div class="text-center pb-120 pt-120">
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">You do not have access to this resource.</p>
</div>
