@page
@model RegisterModel

@{
    ViewData["Title"] = "Register";
}

<div class="inner-banner">
    <div class="container">
        <h2 class="inner-banner-title wow fadeInLeft" data-wow-duration="1.5s" data-wow-delay=".2s">Sign Up</h2>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Sign Up</li>
            </ol>
        </nav>
    </div>
</div>

<div class="signup-section pt-120 pb-120">
    <img alt="image" src="~/assets/images/bg/section-bg.png" class="section-bg-top">
    <img alt="image" src="~/assets/images/bg/section-bg.png" class="section-bg-bottom">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-xl-6 col-lg-8 col-md-10">
                <div class="form-wrapper wow fadeInUp" data-wow-duration="0.5s" data-wow-delay=".2s">
                    <div class="form-title">
                        <h3>Sign Up</h3>
                        <p>Do you already have an account? <a asp-area="Identity" asp-page="Login">Log in here</a></p>
                    </div>
                    <form class="w-100" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="row">

                            <div class="col-md-6">
                                <div class="form-inner">
                                    <label asp-for="Input.FirstName">First Name *</label>
                                    <input asp-for="Input.FirstName" class="form-control" placeholder="First Name">
                                    <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-inner">
                                    <label asp-for="Input.LastName">Last Name *</label>
                                    <input asp-for="Input.LastName" class="form-control" placeholder="Last Name">
                                    <span asp-validation-for="Input.LastName" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-inner">
                                    <label asp-for="Input.Age">Age *</label>
                                    <input asp-for="Input.Age" class="form-control" placeholder="Enter your age">
                                    <span asp-validation-for="Input.Age" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-inner">
                                    <label asp-for="Input.Username">Username *</label>
                                    <input asp-for="Input.Username" class="form-control" placeholder="Enter Your Username">
                                    <span asp-validation-for="Input.Username" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-inner">
                                    <label asp-for="Input.Email">Email *</label>
                                    <input asp-for="Input.Email" class="form-control" placeholder="Enter Your Email">
                                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-inner">
                                    <label asp-for="Input.CountryId">Country *</label>
                                    <select asp-for="Input.CountryId">
                                        @foreach (var country in Model.Countries)
                                        {
                                            <option value="@country.Id">@country.Name</option>
                                        }
                                    </select>
                                    <span asp-validation-for="Input.CountryId" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-inner">
                                    <label asp-for="Input.Password">Password *</label>
                                    <input asp-for="Input.Password" class="form-control" type="password" placeholder="Create A Password" />
                                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-inner">
                                    <label asp-for="Input.ConfirmPassword">Confirm Password *</label>
                                    <input asp-for="Input.ConfirmPassword" class="form-control" type="password" placeholder="Confirm Password" />
                                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-agreement form-inner d-flex justify-content-between flex-wrap">
                                    <div class="form-group">
                                        <input type="checkbox" id="html">
                                        <label for="html">I agree to the Terms & Policy</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <button type="submit" asp-area="Identity" asp-page="/Account/Register" class="account-btn">Create Account</button>
                    </form>
                    <div class="alternate-signup-box">
                        <h6>or signup WITH</h6>
                        <div class="btn-group gap-4">
                            <a href="" class="eg-btn google-btn d-flex align-items-center"><i class='bx bxl-google'></i><span>signup whit google</span></a>
                            <a href="" class="eg-btn facebook-btn d-flex align-items-center"><i class='bx bxl-facebook'></i>signup whit facebook</a>
                        </div>
                    </div>
                    <div class="form-poicy-area">
                        <p>By clicking the "signup" button, you create a Cobiro account, and you agree to Cobiro's <a href="#">Terms & Conditions</a> & <a href="#">Privacy Policy.</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
