@model UserModel
@{
    this.ViewData["Title"] = "Users Administration";
}

<div class="card">
    <div class="card-header border-transparent">
        <h3 class="card-title">Users</h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
            </button>
            <button type="button" class="btn btn-tool" data-card-widget="remove">
                <i class="fas fa-times"></i>
            </button>
        </div>
    </div>
    <div class="card-body">
        <div class="col g-3">
            <div class="table-title-area">
                <select id="adminUsersPerPage">
                    <option value="10">Show: 10 per page</option>
                    <option value="20">Show: 20 per page</option>
                    <option value="30">Show: 30 per page</option>
                    <option value="50">Show: 50 per page</option>
                </select>
                <div class="d-flex col-md-3 align-items-center">
                    <label class="form-check-label" style="margin-right: 12px;">Search</label>
                    <input id="search-user" class="form-control" />
                </div>
            </div>
            <div class="table-wrapper">
                <table id="users-table" class="eg-table order-table table mb-0">
                    <thead>
                        <tr>
                            @*<th>Image</th>*@
                            <th>Username</th>
                            <th>Email</th>
                            <th>Join date</th>
                            <th>Auctions count</th>
                            <th>Profile</th>
                            <th>Manage roles</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <div class="table-pagination justify-content-center">
                <nav class="pagination-wrap">
                    <ul id="adminUsersPagination" class="pagination style-one d-flex gap-md-3 gap-2">
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        loadUsersIntoTable();
    </script>
}


@*<td data-label="Image">
    <img alt="user image" src="${user.profileImageUrl}" class="img-fluid">
</td>*@